<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.pcjr">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application
        tools:replace="android:icon, android:theme"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".common.Constant">

        <activity
            android:name="com.pcjr.activity.SplashActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.pcjr.activity.InvestDetailActivity"/>
        <activity android:name=".activity.NewsActivity"/>
        <activity android:name=".activity.News3Activity"/>
        <activity android:name="com.pcjr.activity.AboutusActivity"/>
        <activity android:name="com.pcjr.activity.AddBankCardActivity"/>
        <activity android:name=".activity.BindMobileActivity"/>
        <activity android:name=".activity.UnbindMobileActivity"/>
        <activity android:name="com.pcjr.activity.BankCardActivity"/>
        <activity android:name="com.pcjr.activity.ChangePasswordActivity"/>
        <activity android:name="com.pcjr.activity.FinancialRecordsActivity"/>
        <activity android:name="com.pcjr.activity.InvestRecordsActivity"/>
        <activity android:name="com.pcjr.activity.MsgCenterActivity"/>
        <activity android:name="com.pcjr.activity.MsgDetailActivity"/>
        <activity android:name="com.pcjr.activity.RealNameVerifiedActivity"/>
        <activity android:name="com.pcjr.activity.SafeSettingActivity"/>
        <activity android:name="com.pcjr.activity.TradeRecordsActivity"/>
        <activity android:name="com.pcjr.activity.PaymentPlanActivity"/>
        <activity android:name=".activity.WithdrawActivity"/>
        <activity android:name="com.pcjr.activity.CouponActivity"/>
        <activity android:name="com.pcjr.activity.WebViewActivity"/>
        <activity android:name=".activity.MainActivity"/>
        <activity android:name=".activity.InvesTicketActivity"/>
        <activity android:name="com.pcjr.activity.RedPacketActivity"/>
        <activity android:name="com.pcjr.activity.AgreementActivity"/>
        <activity android:name="com.pcjr.activity.PrivacyPolicyActivity"/>
        <activity android:name="com.pcjr.activity.InvestTicketDetailActivity"/>
        <activity android:name="com.pcjr.activity.InvestTicketTipsActivity"/>
        <activity android:name="com.pcjr.activity.RedPacketTipsActivity"/>
        <activity android:name="com.pcjr.activity.InvestActivity"/>
        <activity android:name="com.pcjr.activity.LoginActivity"/>
        <activity android:name="com.pcjr.activity.RegistActivity"/>
        <activity android:name="com.pcjr.activity.TestActivity"/>
    </application>

</manifest>